{% extends 'women/base.html' %}

{% block index %}
{% load static %}


    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'women/images/ui.jpg' %}" width="500px">
            </div>
            <div class="col-sm-6">
                <h3>Bal Tekstil</h3>
                <i class="text-center">
                    Сіздермен «Bal Tekstil» фабрикасының миссиясымен бөліскіміз келеді. Жылдар бойы алынған тәжірибеміздің арқасында сәнділік пен үнемділіктің бір өнімде біріктіріле алатынына іс жүзінде көзіміз жетті.
                        «Bal Tekstil» фабрикасы  сапа мен стильді бағалайтын, сонымен қатар кілемдерді барынша тиімді сатып алғысы келетін тұтынушыларға арнайы шешімдер ұсынады.
                        Өнімдеріміз материалдарды, инновациялық технологияларды және дизайнерлік шеберлікті мұқият таңдаудың нәтижесі екенін мақтан тұтамыз. Тоқылатын кілемдеріміздің тек сәнділігі ғана емес, сонымен қатар ыңғайлылығы және функционалдылығы тұтынушыларды қуантатынына сенімдіміз.
                </i>
                <hr>
                <i>
                    «Bal Tekstil» кілем тоқу фабрикасы – елдегі кілем өнеркәсіп нысандарының арасында үздік атанған кәсіпорын. Фабрика өндірісінің негізгі жетістігі – жылына 4000 тонна полипропиленді жіп өндіруі мен 5 млн. м2 жуық кілем тоқып шығарғандығында.
                    Кәсіпорын өз өнімін ең алғаш рет 2013 жылы «Оңтүстік» арнайы экономикалық аймағында шығарса, 2015 жылдың екінші жартысынан бастап «Бал Текстиль» экспорт нарығында сұранысқа ие бола бастады.
                    Айта кету керек, тоқыма өнімдері қазірдің өзінде Қырғызстан, Өзбекстан, Тәжікстан және Ресейге экспортталады. Сондай-ақ, фабриканың 20-ға жуық ірі шетелдік тұтынушылары бар. Қазақстандық кілем өніміне әлемдік нарыққа танымал IKEA компаниясы назар аударып, қызығушылық танытты. Айта кету керек, біздің өндіріс орын – аталмыш брендпен мерзімсіз келісім-шартқа тұрған Қазақстандағы алғашқы кәсіпорын. Соның арқасында біздің кілемдер Еуропа нарығында сатылды.
                </i>
            </div>

        </div>
    </div>

{% endblock %}
